@import './vars.css';

p {
	display: flow-root;
	margin: 1em 0;
}

h1 {
	font-size: calc(1em + 3pt);
	font-weight: 700;
	margin: 4em 1em 2em 1em;
	text-align: center;
}

h2 {
	font-size: calc(1em + 1pt);
	font-weight: 650;
	margin-top: 2em;
}

h2::before {
	content: "> ";
	color: var(--theme);
	font-weight: bold;
}

blockquote {
	display: flow-root;
	margin: 1.38em 0;
	background-color: var(--block-bg);
	padding: 0 1em;
	border-left: var(--theme) 3px solid;
	border-top-right-radius: var(--corner);
	border-bottom-right-radius: var(--corner);
}

blockquote p {
	margin: 0.62em 0;
}

code {
	color: var(--theme);
	background-color: var(--block-bg);
	border-radius: var(--corner);
	padding: 0.12em 0.2em;
}

pre {
	background-color: var(--block-bg);
	border-radius: var(--corner);
}

pre code {
	display: block;
	overflow-x: auto;
	padding: 0.6em 1em;
}

a {
	color: unset;
	text-decoration: unset;
}

a:hover {
	color: var(--link-hover-fg);
	background-color: var(--link-hover-bg);
}

img {
	margin: auto;
	border-radius: var(--corner);
	max-width: 40rem;
	display: block;
}

figcaption {
	margin-top: 0.7em;
	font-size: calc(1em - 2pt);
	text-align: center;
}

figure {
	margin: 2em 0;
	justify-content: center;
}

hr {
	border: none;
	margin: 3em;
}

hr::before {
	color: var(--theme);
	content: '- < ◊ > -';
	display: block;
	text-align: center;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 1em 0;
}

table,
td,
th {
	background-color: var(--block-bg);
	color: var(--block-fg);
	border: 1px solid darkgray;
	padding: 0.4em 0.6em;
}

table caption {
	margin: 0.5em;
	padding: 0em;
}

td {
	text-align: left;
}

thead th {
	font-weight: 650;
	width: fit-content;
}

cite {
	float: inline-end;
}

cite::before {
	content: "--- ";
}

dl {
	padding-left: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin-inline-start: 2em;
}

.cjk {
	font-family: var(--font-lxgw);
	font-size: calc(1em + 2pt);
}

.cjk h1 {
	font-size: calc(1em + 4pt);
}

.cjk h2 {
	font-size: calc(1em + 3pt);
}

.katex {
	font-size: inherit;
}

.cjk>:first-child {
	margin-top: 0;
	padding-top: 0;
}